# Archivos de entorno virtual
venv/
.env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log o temporales
*.log
*.tmp